# /etc/nslcd.conf

uid nslcd
gid nslcd

# LDAP server connection details
uri {{getv "/ldap/uri"}}
base {{getv "/ldap/base"}}
binddn {{getv "/ldap/binddn"}}
bindpw {{getv "/ldap/bindpw"}}

# Mappings for OpenLDAP
pagesize 1000
referrals off
idle_timelimit 1000
filter passwd {{getv "/ldap/filter"}}
map    passwd homeDirectory    "/home/vsftpd/$sAMAccountName"
map    passwd loginShell       "/bin/false"

# The LDAP protocol version to use.
ldap_version 3

# The search scope.
scope sub
